
<footer>


  <p class="pull-right p-4 "><a href="#">Revenir en haut ▲</a></p>
  	<p class="pull-left p-4 d-flex">&copy;
								{{ 'now'|date('Y') }}
								- The District </p>
							{# <p>{{ 'mit_license'|trans }}</p> #}
  <div class="container-fluid ">
    <div class="row">





      <div class="col-md-3">
        <h3 class="h3">A propos</h3>
        <ul >
          <li><a href="#">Historique</a></li>
          <li><a href="#">Service clients</a></li>

        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="h3">Partners</h3>
        <ul>

          <li><a href="#">MIO</a></li>
          <div id="footer-copyright" class=" d-flex">
						
						</div>    

        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="h3">Service clents</h3>
        <ul>
          <li><a href="#">Chat</a></li>
          <li><a href="#">03 22 453 352</a></li>

        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="h3 d-flex">Socials</h3>
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
     </div>

 </div>
 </div>
              
</footer>

{# 
  <footer>
  <div class="container position-fixed bottom-0">
					<div class="row">
						<div id="footer-copyright" class="col-md-6">
							<p>&copy;
								{{ 'now'|date('Y') }}
								- The District</p>
							<p>{{ 'mit_license'|trans }}</p>
						</div>
						<div id="footer-resources" class="col-md-6">
							<p>
								<a rel="noopener noreferrer" target="_blank" href="https://twitter.com/symfony" title="Symfony on X (formerly Twitter)">
									<i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
								</a>
								<a target="_blank" href="https://symfony.com/blog/" title="Symfony Blog">
									<i class="fa-solid fa-rss" aria-hidden="true"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
</footer> #}