  
  #slider {
  
    top:0;
    z-index: 0;
   width: auto;
   
  }
  .slider-container {
    position: relative;
    margin-left:0;
    margin-right: 0;
    top: 0;
    min-width: 100vw;
    height: 15vh;
   overflow: hidden;
    z-index: 0;
  } 
