.carousel-3D-swiper-section {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	min-height: 500px;
}

.carousel-3D-swiper-title {
	text-align: center;
	font-size: 3rem;
	color: orangered;
}

.carousel-3D-swiper .swiper-slide {
    display: flex;
	position: relative;
}

.carousel-3D-swiper .image-wrapper {
	overflow: hidden;
	@apply aspect-video; 
	max-height: 225px;
}

.carousel-3D-swiper .image-wrapper img {
	display: block;
	width: 100%;

	max-height: 225px;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 8px;
	-webkit-box-reflect: below 5px -webkit-linear-gradient(bottom, rgba( 255, 0, 0,	0.1 ) 0%, transparent 32px, transparent 100%);
}

.details {
	padding: 25px 20px;
	font-weight: 600;
	text-align: center;
	background-color: #fff;
}

.details span {
	display: block;
	font-size: 16px;
	color: #f44336;
}

.details h3 {
	margin: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.1;
}

.details p {
	margin: 8px 0 0;
	opacity: 0.65;
	font-size: 14px;
	font-weight: 500;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.carousel-3D-swiper-section .swiper-pagination-bullet {
	margin: 0 4px;
  width: 16px;
  height: 16px;
	z-index: 50;
}

.carousel-3D-swiper-section .swiper-pagination-bullet-active {
	opacity: 1;
	background: orange;
}

/* #carousel {
    width: 100%;
    max-width: 100vw;
    height: 21vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
.carousel-image {
    height: 20vh;
    max-height: 200px;
    position: absolute;
    left: 50%;
    border-radius: 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#carousel-image-0 {
    transform: translateX(-50%) translateX(-120%) scale(0.6);
    filter: brightness(40%);
    z-index: 1;
}

#carousel-image-1 {
    transform: translateX(-50%) translateX(-80%) scale(0.8);
    filter: brightness(65%);
    opacity: 1;
    z-index: 2;
}

#carousel-image-2 {
    transform: translateX(-50%) scale(1);
    filter: brightness(100%);
    opacity: 1;
    z-index: 3;
}

#carousel-image-3 {
    transform: translateX(-50%) translateX(80%) scale(0.8);
    filter: brightness(65%);
    opacity: 1;
    z-index: 2;
}

#carousel-image-4 {
    transform: translateX(-50%) translateX(120%) scale(0.6);
    filter: brightness(40%);
    opacity: 1;
    z-index: 1;
}

#carousel-image-5 {
    transform: translateX(-50%) scale(1.5);
    filter: brightness(40%);
    opacity: 0;
    z-index: 1;
}

@keyframes mv0to5 {
    0% { transform: translateX(-50%) translateX(-120%) scale(0.6); filter: brightness(40%); opacity: 1; z-index: 2}
    20% { opacity: 0; }
    100% { transform: translateX(-50%) scale(0.6);  filter: brightness(40%); opacity: 0; z-index:1}
}

@keyframes mv5to0 {
    0% { transform: translateX(-50%) scale(0.6);  filter: brightness(40%); opacity: 0; z-index:1}    
    80% {opacity:0;}
    100% { transform: translateX(-50%) translateX(-120%) scale(0.6);  filter: brightness(40%); opacity: 1; z-index:2}    
}

.mv0to5 {
    animation: 0.3s ease-out mv0to5;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */
/* .mv5to0 {
    animation: 0.3s ease-out mv5to0;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
p, 
blockquote,
pre,

abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,


legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: whitesmoke
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
} */

/* q,
blockquote {
    quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
} */

* {
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box; */
    box-sizing: border-box
}

a {
    color: #CCC;
    text-decoration: none
}

p {
    color: #CCC;
}

/* html {
    background: #2F2F2F
} */

body {
    /* background: #2F2F2F; */
    min-height: 100%;
    font-family: helvetica, arial, sans-serif;
    overflow-x: hidden;
    margin: 0
}

/* section.container {
    width: auto;
    overflow: hidden;
    justify-content: center;
 max-width: 100%;
    margin: auto 40px
    
} */

