{% extends 'base.html.twig' %}

{% block title %}The District{% endblock %}

{% block body %}
<section class="container">
			<h1><span class="flux">The</span> <span class="slider">District</span></h1>
			<h2>BEST-SELLERS</h2>
			<div id="slider">
                <img src="image/bg.jpg" alt="" />
				<img src="image/bg1.jpeg" alt="" />
				<img src="image/bg2.jpeg" alt="" />
				<img src="image/bg3.jpeg" alt="" />
            </div>
            
{% endblock %}